* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
  }

  body {
    background-color: #171616; 
    background-image: url('white_dots2.png');
    background-repeat: repeat;
    background-size: 300px 300px;
  }

  a, label {
    font-size: 25px;
    color: #d8441c;
    display: flex;
  }

  .header {
    background: linear-gradient(to right, #000000, #d8441c);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
    position: fixed;
  }
  
  nav {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
  }
  
  nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  nav ul li {
    list-style-type: none;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 25px;
    position: relative;
  }
  
  nav ul li a::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000000;
    transform: scaleX(0);
    transition: transform 0.3s;
  }
  
  nav ul li a:hover::before {
    transform: scaleX(1);
  }

  .form-contents {
    display: grid;
    place-items: center;
    min-height: 80vh;
  }
  
  form {
    width: 20%;
  }

  form input, select {
    width: 100%;
    font-size: 20px; 
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #d8441c;
    border-radius: 5px;
    background-color: #c5b6b6a4;
}

form input[type="submit"]:hover, .uni-popup-content form button:hover, .skill-popup-content form button:hover {
    background-color: #d8441c;
    cursor: pointer;
}

form .uni-add, .skill-add {
    display: flex;
    align-items: center;
}

form .uni-add button, .skill-add button {
    background-color: #d36b4e;
    border: none;
    padding: 10px;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-top: -15px;
}

.uni-popup, .skill-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.uni-popup-content, .skill-popup-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  border-radius: 10px;
  text-align: center;
}

.uni-close, .skill-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.uni-close:hover,
.uni-close:focus,
.skill-close:hover,
.skill-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.uni-popup-content form input,
.uni-popup-content form button,
.skill-popup-content form input,
.skill-popup-content form button {
  width: 500%;
  font-size: 20px; 
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #d8441c;
  border-radius: 5px;
  background-color: #c5b6b6a4;
}

.cvPrint table{
  position: fixed;
  color: #d8441c;
  border-color: #d8441c;
  font-size: 25px;
  width: 50%;
  margin-left: 25%;
  margin-top: 20vh;
  border-collapse: collapse;
}
.cvPrint th {
  color: #b8b7b7;
  padding: 10px;
  border: 1px solid #d8441c;
}
.cvPrint td {
  color: #d8441c;
  padding: 10px;
  border: 1px solid #d8441c;
}

.alert p{
  position: absolute;
  color: #d8441c;
  margin-top: 15vh;
  left: 40%;
  font-size: 25px;
}